@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Mono&display=swap');* {
   margin: 0;
   padding: 0;
}

body {
   background-color: black;
   color: #ffff;
   height: 100vh;
   box-sizing: border-box;
}

.Titulo-destaque {
   color: #22d4fd;
}

.apresentacao {
   margin: 13% 11%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.apresentacao__conteudo {
   width: 615px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.apresentacao__titulo {
   font-size: 36px;
   font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__texto {
   font-size: 22px;
   font-family: 'Roboto Mono', monospace;
}

.apresentacao__links {
   display: flex;
   justify-content: space-between;
}

.apresentacao__links__links {
   background-color: #22d4fd;
   width: 261px;
   text-align: center;
   border-radius: 16px;
   font-size: 22px;
   padding: 20px 0;
   text-decoration: none;
   color: black;
   font-family: 'Roboto Mono', monospace;
}